doctype html
html
	head
		meta(name="viewport" content="width=device-width")
		title HomePi
		link(rel='stylesheet',href='styles/style.css')
	body

		section
			article
				h2(class="icon-#{ icon }")
				p #{max}°
					

		section
			article
				h2(class="icon-alarm")
				p #{hour}:#{min}
			
			
		
		