doctype html
html
	head
		meta(name="viewport" content="width=device-width")
		title HomePi
		link(rel='stylesheet',href='styles/style.css')
	body
		section
			article
				h2(class="icon-#{ icon }")
				p #{min} - #{max} °C	

		section
			article
				h2.icon-alarm
				p 8h 28/05/14

		section
			article
				h2.icon-work
				p IGI-5002


		section
			article
				h2.icon-clock
				p 8h - 18h
			
			
		
		