*{
	margin:0;
	padding:0;
}

html,
body{
	width:100%;
	height:100%;
	//overflow: hidden;
}

body{
	font-size: 62.5%;
	font-family: 'Oswald', sans-serif;
}

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?l4kvv4');
	src:url('../fonts/icomoon.eot?#iefixl4kvv4') format('embedded-opentype'),
		url('../fonts/icomoon.woff?l4kvv4') format('woff'),
		url('../fonts/icomoon.ttf?l4kvv4') format('truetype'),
		url('../fonts/icomoon.svg?l4kvv4#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

@import url(http://fonts.googleapis.com/css?family=Oswald:700);

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-mist:before {
	content: "\e600";
}
.icon-broken-clouds:before {
	content: "\e601";
}
.icon-snow:before {
	content: "\e605";
}
.icon-shower-rain:before {
	content: "\e606";
}
.icon-rain:before {
	content: "\e607";
}
.icon-thunderstorm:before {
	content: "\e608";
}
.icon-clouds:before {
	content: "\e609";
}
.icon-few-clouds:before {
	content: "\e60a";
}
.icon-work:before {
	content: "\e60c";
}
.icon-clear:before {
	content: "\e60d";
}
.icon-x-mark:before {
	content: "\e603";
}
.icon-check:before {
	content: "\e602";
}
.icon-alarm:before {
	content: "\e604";
}
.icon-clock:before {
	content: "\e60b";
}

section{
	position: relative;
	height:50%;
}
article{
	position: absolute;
	width:100%;
	top:50%;
	transform: translateY(-50%);
}

section:nth-child(1){
	background: #5b5b5b;
}

section:nth-child(2){
	background: #404040;
}

section:nth-child(3){
	background: #333333;
}

section:nth-child(4){
	background: #2d2d2d;
}

h2{
	color:white;
	font-size:3rem;
	text-align: center;
}

p{
	color:white;
	font-size:5rem;
	text-align: center;
	text-transform: capitalize;
}


